.search-container {
  width: 450px;
  height: 50px;

  display: flex;
  align-items: center;

  background: rgba(35, 35, 35, 0.95);

  border-radius: 30px;

  padding: 0 20px;

  margin-bottom: 30px;
}

.search-icon {
  color: white;
  font-size: 18px;
}

.search-input {
  flex: 1;

  margin-left: 12px;

  background: transparent;
  border: none;
  outline: none;

  color: white;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgba(255,255,255,0.7);
}